* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
    height: 70px;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    background: white;
}

.logo {
    font-size: 28px;
    font-weight: bold;
}

.menu {
    display: flex;
    list-style: none;
    gap: 40px;
}

.menu li {
    cursor: pointer;
    font-size: 16px;
}

.username {
    background: #e6f0ff;
    padding: 8px 18px;
    border-radius: 20px;
    cursor: pointer;
}

/* HERO SECTION */
.hero {
    height: calc(100vh - 70px); /* full screen without scroll */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.hero-left {
    width: 50%;
}

.hero-left h1 {
    font-size: 48px;
    line-height: 60px;
}

.hero-left h1 span {
    color: #3f7bff;
}

.hero-left p {
    margin: 15px 0 25px;
    font-size: 18px;
    color: #555;
}

.hero-btn {
    background: #3f7bff;
    color: white;
    padding: 12px 22px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.hero-btn:hover {
    opacity: 0.9;
}

.hero-right img {
    width: 450px;
}

